.overlay {
  position: absolute;
}

.overlay__box {
  position: fixed;
  z-index: 999999;
  top: 50%;
  left: 50%;
  min-width: 80vh;
  min-height: 80vh;

  padding: 1em;
  background: #fff;
  box-shadow: var(--lighter-shadow);

  transform: translate(-50%, -50%);
}

.overlay__box__top {
  display: grid;

  padding: 1em 1.5em;
  margin-bottom: 5vh;

  background: pink;
  grid-template-columns: 1fr 1fr;
}

.overlay__box__close {
  background: red;
  cursor: pointer;

  justify-self: right;
}

.overlay__box__close:before {
  display: block;
  content: 'Fechar';
}

.overlay__box__title {
  font-size: 1.3em;
  font-weight: bold;
}

.overlay__box__body {
  padding: 0 1em;
}

.overlay__back {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 110vw;
  height: 110vh;

  background: #666;
  opacity: .6;

  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .overlay__box {
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    transform: none;

    padding: 0;
  }

  .overlay__box__top {
    padding: 1em .5em;
  }

  .overlay__back {
    display: none;
  }
}
