.step {
  position: relative;
  padding: .5em;
  border: 1px solid #ccc;
  background: #f7f7f7;

  border-radius: var(--rounded-borders);
  box-shadow: var(--lighter-shadow);
}

.step__header {
  margin-bottom: 2em;
}

.step__header__title {

  margin-bottom: 8pt;
  font-size: 1.1em;
  font-weight: bold;
}

.step__header__description {
  opacity: .8;
}

@media screen and (max-width: 600px) {
  .step {

    width: 100%;
    min-width: 0 !important;
    padding: .5em .2em;
  }
}
