.step {
  position: relative;
  border: 1px solid #ccc;
  box-shadow: var(--lighter-shadow);
  padding: .5em;

  border-radius: var(--rounded-borders);
  background: #f7f7f7;
}

.step__header {
  margin-bottom: 2em;
}

.step__header__title {
  font-weight: bold;
  font-size: 1.1em;

  margin-bottom: 8pt;
}

.step__header__description {
  opacity: .8;
}

@media screen and (max-width: 600px) {
  .step {
    padding: .5em .2em;
    min-width: 0 !important;

    width: 100%;
  }
}
