.view {
  position: relative;
  display: grid;

  padding: 1em 15vw;
  grid-row-gap: 1.5em;
}

@media screen and (max-width: 900px) {
  .view {

    min-width: 0;
    padding: 0 !important;
    grid-row-gap: 1em;
  }
}
