.view {
  position: relative;
  display: grid;
  grid-row-gap: 1.5em;

  padding: 1em 15vw;
}

@media screen and (max-width: 900px) {
  .view {
    grid-row-gap: .5em;
    padding: 0 !important;

    min-width: 0;
  }
}
