.button {
  display: block;
  box-sizing: border-box;

  padding: .5em 1em;
  line-height: 1.2em;

  width: 100%;
  text-align: center;
  background: #fff;

  cursor: pointer !important;
}

.button--base {
  border: 1px solid black;
  border-radius: var(--rounded-borders);
  box-shadow: var(--light-shadow);
}

.button--default {
  background: blue;
}

.button--confirm {
  background: green;
  color: #fff;
}
