.config {
  display: grid;
  padding: .5em;

  border: 1px solid red;
  grid-column-gap: var(--column-gap);
  grid-template-columns: auto 10em;
}

.config__input {
  min-height: 0;
}

.config__right {
  display: grid;
  grid-row-gap: .5em;
}

@media screen and (max-width: 600px) {
  .config {
    grid-column-gap: var(--mobile-column-gap);
    grid-template-columns: auto 5em;
  }
}
