.section {
  position: relative;
  box-shadow: var(--lighter-shadow);
}

.section__info {
  display: grid;

  align-items: center;

  border: 1px solid #ccc;
  background: #eee;
  border-radius: 10px 10px 0 0;
  grid-template-columns: auto 3em 7em;
  user-select: none;
}

.section__info__title {
  font-size: 1.1em;
  font-weight: bold;

  line-height: 2em;
}

.section__info__order {
  justify-self: center;
  opacity: .6;
}

.section__info__arrows {
  display: grid;
  border: 1px solid red;
  grid-column-gap: 2px;
  grid-template-columns: 1fr 1fr;
}

.section__arrow {
  border: 1px solid black;
  cursor: pointer;

  justify-self: center;
}

.section__body {
  display: grid;
  height: 8em;

  align-items: center;
  background: #fff;
  /* grid-template-columns: auto 10em; */
  grid-column-gap: var(--column-gap);
}

.section__body__template {
  height: 100%;
  border: 1px solid #ccc;
}

.section__body__sideopts {
  display: grid;
  grid-row-gap: .5em;
  justify-items: center;
}

.section__nav {
  position: absolute;

  top: 80px;

  width: 1em;
  background: #ddd;

  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 2.5em;
  line-height: 1em;
  opacity: .5;
  text-align: center;
}

.section__nav--left {
  left: 10px;
}

.section__nav--right {
  right: 10px;
}

@media screen and (max-width: 600px) {
  .section {
    padding: .15em .2em 0 .2em;
  }

  .section__body {
    grid-column-gap: var(--mobile-column-gap);
    grid-template-columns: 1fr;
  }

  .section__body__sideopts {
    grid-column-gap: .5em;
    grid-row-gap: 0;
    grid-template-columns: 1fr 1fr;
  }
}
