.section {
  border: 1px solid black;
  cursor: move;

  padding: .5em;
  background: #fff;

  border-radius: var(--rounded-borders);
  box-shadow: var(--lighter-shadow);
}

.section__top {
  display: grid;
  grid-template-columns: auto 7em;
  border: 1px dashed grey;
}

.section__top__order {
  opacity: .8;
}

.section__top__arrows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2px;
  border: 1px solid red;
}

.section__arrow {
  border: 1px solid black;
  cursor: pointer;

  justify-self: center;
}

.section__title {
  font-weight: bold;
  font-size: 1.3em;
  border: 2px dotted pink;

  padding: 5px 0 10px 0;
}

.section__body {
  display: grid;
  grid-template-columns: auto 10em;
  grid-column-gap: var(--column-gap);

  align-items: center;
  height: 8em;
}

.section__body__template {
  height: 100%;
  border: 1px solid #ccc;
}

.section__body__sideopts {
  display: grid;
  justify-items: center;
  grid-row-gap: .5em;
}

@media screen and (max-width: 600px) {
  .section {
    padding: .15em .2em 0 .2em;
  }

  .section__body {
    grid-template-columns: 1fr;
    grid-column-gap: var(--mobile-column-gap);
  }

  .section__body__sideopts {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .5em;
    grid-row-gap: 0;
  }
}
