.finish {
  position: sticky;
  bottom: 0;

  display: grid;
  padding: 1em;
  border: 2px solid pink;
  background: #fff;

  border-radius: 15px 15px 0 0;
  grid-template-columns: 1fr 1fr;
}

.finish--sticky {
  position: sticky;
  bottom: 0;
}

.finish__right {
  display: grid;
  grid-row-gap: .5em;
}

.finish__right__disclaimer {
  font-size: .95em;
  opacity: .8;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .finish {
    position: relative;
    bottom: auto;
    grid-template-columns: auto 10em;
  }
}
