.finish {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;

  background: #fff;
  border: 2px solid pink;
  border-radius: 15px 15px 0 0;
}

.finish--sticky {
  position: sticky;
  bottom: 0;
}

.finish__right {
  display: grid;
  grid-row-gap: .5em;
}

.finish__right__disclaimer {
  text-align: justify;
  font-size: .95em;
  opacity: .8;
}

@media screen and (max-width: 600px) {
  .finish {
    grid-template-columns: auto 10em;
  }
}
