.list {
  display: grid;
  border: 1px border yellow;
  grid-row-gap: .4em;
  user-select: none;

}

.checkbox_name {

  margin-bottom: 8pt;
  font-size: 1.1em;
  font-weight: bold;
}

.checkbox_description {
  opacity: .8;
}
