.grid {
  display: grid;
  grid-row-gap: .8em;
}

.ghost {
  opacity: .2;
  background: #666;
}

.info {
  padding: .3em .5em;
}

.info--handle {
  cursor: move;
}

.info--blocked {
  cursor: not-allowed;
}

.drag-enter-active,
.drag-leave-active {
  transition: opacity .5s;
}

.drag-enter,
.drag-leave-to {
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .grid {
    grid-row-gap: .3em;
  }
}
