.grid {
  display: grid;
  border: 1px dotted red;

  grid-gap: .5em;
}

.ghost {
  opacity: .2;
  background: #666;
}

.drag-enter-active,
.drag-leave-active {
  transition: opacity .5s;
}

.drag-enter,
.drag-leave-to {
  opacity: 0;
}
